main {
  margin: 0 auto;
  max-width: 90%;
  min-height: 500px;
}

:root {
  --primary: #31a504;
  --light: #ffffff;
  --dark: #000000;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: fit-content;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: .1em;
  color: var(--light);
  background-image: url('./assets/images/backg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  font-size: 25px;
  font-family: Snell Roundhand, cursive;
  text-align: left;
  text-indent: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
  width: 80%;
  text-align: justify;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

a:hover {
  text-decoration: underline;
}

.image-container:hover {
  border: 5px solid var(--primary);
  background-color: var(black);
  color: var(--primary);
  text-decoration: none;
  background-blend-mode: hard-light;
  background-size: 2000%;
  transition: all 0.5s;
  font-size: 1.5rem;
  font-weight: bold;
}

.image-container {
  border-radius: 10%;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 200px;
  margin: 25px;
}

.project-name {
  opacity: 1.0;
  position: relative;
  top: 100px;
  left: 50px;
  color: black;
}

.project-name:hover {
  background-color: var(--primary);
  width: fit-content;
  border-radius: 10px;
}

.image-container .git-link {
  position: relative;
  left: 40%;
  top: 50%;
  visibility: hidden;
}

.image-container:hover .git-link {
  visibility: visible;
}

.image-container .app-link {
  visibility: hidden;
}

.image-container:hover .app-link {
  visibility: visible;
}

header {
  font-family: Blippo, fantasy;
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

#name {
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 25px;
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

button {
  background: var(--primary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.navActive {
  color: var(--primary);
}

footer {
  position: relative;
  bottom: 5px;
  text-align: center;
  margin-left: 100px;
}

footer h2 {
  color: var(--light);
  font-size: 20px;
  margin: 0;
}

.foo-img:hover {
  background-color: var(--primary);
  border-radius: 50%;
}

#resume-container {
  display: flex;
  justify-content: center;
}

.res {
  margin: 45px;
}

#my-photo {
  float: left;
  margin-right: 20px;
}